@charset "UTF-8";
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.eot);
  src: local("☺"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(../fonts/Montserrat-ExtraBold.eot);
  src: local("☺"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.eot);
  src: local("☺"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.eot);
  src: local("☺"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/Montserrat-SemiBold.eot);
  src: local("☺"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Montserrat-Regular;
  color: #fff;
  background-image: url(../img/bg.jpg); }

.container-main {
  max-width: 1313px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }

#coins {
  padding-bottom: 125px;
  padding-top: 90px; }
  #coins .coins_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    #coins .coins_wrap .two_coins_wrap .zag {
      font: 65px Montserrat-SemiBold;
      color: white; }
    #coins .coins_wrap .two_coins_wrap .two_coins {
      display: flex; }
      #coins .coins_wrap .two_coins_wrap .two_coins .coin {
        padding: 50px 55px 0 75px;
        width: 50%; }
        #coins .coins_wrap .two_coins_wrap .two_coins .coin:first-child {
          margin-left: -75px; }
        #coins .coins_wrap .two_coins_wrap .two_coins .coin:last-child {
          background: url(../img/shadow_bg.png) no-repeat left center; }
        #coins .coins_wrap .two_coins_wrap .two_coins .coin h4 {
          color: white;
          font: 35px Montserrat-ExtraBold;
          text-transform: uppercase;
          line-height: 1.0; }
        #coins .coins_wrap .two_coins_wrap .two_coins .coin .grey {
          color: #aaa;
          font-size: 15px;
          margin-bottom: 60px; }
        #coins .coins_wrap .two_coins_wrap .two_coins .coin .blue {
          color: #6dbcd3;
          font-size: 15px;
          margin-bottom: 55px;
          min-height: 45px; }
        #coins .coins_wrap .two_coins_wrap .two_coins .coin ul {
          margin: 0;
          list-style: none;
          padding: 0; }
          #coins .coins_wrap .two_coins_wrap .two_coins .coin ul li {
            font-size: 15px;
            padding-bottom: 20px;
            position: relative; }
            #coins .coins_wrap .two_coins_wrap .two_coins .coin ul li:before {
              display: block;
              content: '';
              position: absolute;
              width: 11px;
              height: 6px;
              left: -30px;
              top: 8px;
              background: url(../img/marker.png) no-repeat; }
            #coins .coins_wrap .two_coins_wrap .two_coins .coin ul li a {
              color: #6dbcd3;
              display: inline-block;
              border-bottom: 1px solid #6dbcd3; }
              #coins .coins_wrap .two_coins_wrap .two_coins .coin ul li a:hover {
                border-bottom-color: transparent; }
    #coins .coins_wrap .stages_border {
      width: 445px;
      flex-shrink: 0;
      background: linear-gradient(45deg, #64a2cc, #1fd3da);
      padding: 5px;
      margin-top: 10px; }
    #coins .coins_wrap .stages {
      padding: 25px 20px 5px 85px;
      background-image: url(../img/bg.jpg); }
      #coins .coins_wrap .stages .three {
        background: url(../img/3.png) no-repeat left top;
        height: 153px;
        font: 21px Montserrat-SemiBold;
        text-transform: uppercase;
        margin-left: -20px; }
        #coins .coins_wrap .stages .three span {
          display: inline-block;
          padding-top: 33px;
          padding-left: 85px; }
      #coins .coins_wrap .stages ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        #coins .coins_wrap .stages ul li {
          font-size: 18px;
          padding-bottom: 30px;
          position: relative; }
          #coins .coins_wrap .stages ul li span {
            display: block;
            font-size: 15px;
            color: #999; }
          #coins .coins_wrap .stages ul li:before {
            display: block;
            content: '';
            position: absolute;
            width: 11px;
            height: 6px;
            left: -55px;
            top: 10px;
            background: url(../img/marker.png) no-repeat; }
          #coins .coins_wrap .stages ul li:after {
            display: block;
            content: '';
            position: absolute;
            width: 1px;
            left: -50px;
            top: 23px;
            bottom: 0;
            background: #fff;
            opacity: 0.1; }
          #coins .coins_wrap .stages ul li:last-child:after {
            display: none; }

#ecosystem .container-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../img/dots_bg.png); }
#ecosystem .eco_left {
  width: 50%; }
#ecosystem .twenty {
  width: 377px;
  height: 223px;
  background: url(../img/20.png) no-repeat center;
  background-size: cover;
  margin-left: 65px;
  margin-top: -40px;
  position: relative; }
  #ecosystem .twenty .more {
    font: 21px Montserrat-SemiBold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: -35px;
    line-height: 1.6;
    text-align: right; }
  #ecosystem .twenty .text_line {
    font: 22px Montserrat-SemiBold;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    bottom: -40px;
    letter-spacing: 4px; }
#ecosystem .eco_right {
  padding: 20px 65px 10px 0;
  width: 50%; }
  #ecosystem .eco_right .zag {
    font: 65px Montserrat-SemiBold;
    color: white; }
  #ecosystem .eco_right ul {
    margin: 0;
    margin-top: 20px;
    list-style: none;
    padding: 0; }
    #ecosystem .eco_right ul li {
      font: 17px Montserrat-Light;
      padding-bottom: 25px;
      position: relative;
      line-height: 1.5; }
      #ecosystem .eco_right ul li:before {
        display: block;
        content: '';
        position: absolute;
        width: 11px;
        height: 6px;
        left: -30px;
        top: 8px;
        background: url(../img/marker.png) no-repeat; }

#event_launch {
  padding: 165px 0 115px;
  text-align: center; }
  #event_launch p {
    font: 35px Montserrat-SemiBold;
    margin-bottom: 40px; }
    #event_launch p strong {
      font-family: Montserrat-ExtraBold; }
    #event_launch p .blue {
      color: #5ea6cd; }

.blue_button {
  display: inline-block;
  background: linear-gradient(to right, #65a2cc, #1cd3da);
  border: 0;
  text-transform: uppercase;
  font: 15px Montserrat-SemiBold;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 3px 21px 3px rgba(0, 0, 0, 0.28), inset 0 -3px 0 0px rgba(0, 0, 0, 0.15);
  outline: none;
  letter-spacing: 2px; }

#socials .socials_wrap {
  border-top: 1px solid rgba(29, 181, 218, 0.1);
  border-bottom: 1px solid rgba(29, 181, 218, 0.1);
  padding: 40px 30px;
  margin: 0 55px;
  display: flex;
  justify-content: space-between; }
  #socials .socials_wrap a {
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    transition: 0.3s; }
    #socials .socials_wrap a img {
      filter: grayscale(100%);
      opacity: 0.2;
      transition: 0.3s;
      display: block;
      margin: 0 auto 20px; }
    #socials .socials_wrap a:hover {
      color: white; }
      #socials .socials_wrap a:hover img {
        filter: inherit;
        opacity: 1; }

footer {
  margin: 40px 0;
  padding: 0; }

.footer_wrap {
  margin: 0 55px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer_wrap div {
    width: 30%;
    flex-shrink: 0; }
  .footer_wrap .copy {
    font-size: 13px; }
  .footer_wrap .links {
    display: flex;
    justify-content: space-between; }
    .footer_wrap .links a {
      color: #64a2cc;
      font-size: 13px;
      text-decoration: underline; }
      .footer_wrap .links a:hover {
        text-decoration: none; }
  .footer_wrap .image {
    text-align: right; }

/*# sourceMappingURL=style-t.css.map */
