@charset "UTF-8";
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.eot);
  src: local("☺"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(../fonts/Montserrat-ExtraBold.eot);
  src: local("☺"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.eot);
  src: local("☺"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.eot);
  src: local("☺"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/Montserrat-SemiBold.eot);
  src: local("☺"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Montserrat-Regular;
  color: #fff;
  background: #2d2d2d; }

.container-main {
  max-width: 1313px;
  padding: 0 30px;
  margin: 0 auto; }

#ecosystem .container-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../img/dots_bg.png); }
#ecosystem .eco_left {
  width: 50%; }
#ecosystem .twenty {
  width: 377px;
  height: 223px;
  background: url(../img/20.png) no-repeat center;
  background-size: cover;
  margin-left: 65px;
  margin-top: -40px;
  position: relative; }
  #ecosystem .twenty .more {
    font: 21px Montserrat-SemiBold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: -35px;
    line-height: 1.6;
    text-align: right; }
  #ecosystem .twenty .text_line {
    font: 22px Montserrat-SemiBold;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    bottom: -40px;
    letter-spacing: 4px; }
#ecosystem .eco_right {
  padding: 20px 65px 10px 0;
  width: 50%; }
  #ecosystem .eco_right .zag {
    font: 65px Montserrat-SemiBold;
    color: white; }
  #ecosystem .eco_right ul {
    margin: 0;
    margin-top: 20px;
    list-style: none;
    padding: 0; }
    #ecosystem .eco_right ul li {
      font: 17px Montserrat-Light;
      padding-bottom: 25px;
      position: relative;
      line-height: 1.5; }
      #ecosystem .eco_right ul li:before {
        display: block;
        content: '';
        position: absolute;
        width: 11px;
        height: 6px;
        left: -30px;
        top: 8px;
        background: url(../img/marker.png) no-repeat; }

#event_launch {
  padding: 165px 0 115px;
  text-align: center; }
  #event_launch p {
    font: 35px Montserrat-SemiBold;
    margin-bottom: 40px; }
    #event_launch p strong {
      font-family: Montserrat-ExtraBold; }
    #event_launch p .blue {
      color: #5ea6cd; }
  #event_launch .blue_button {
    display: inline-block;
    background: linear-gradient(to right, #65a2cc, #1cd3da);
    border: 0;
    text-transform: uppercase;
    font: 15px Montserrat-SemiBold;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 3px 21px 3px rgba(0, 0, 0, 0.28), inset 0 -3px 0 0px rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=style-t.css.map */
